@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

h1 {
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
  font-size: 2.813rem;
  color: #d62828;
}

h3 {
  font-family: "Open Sans", serif;
  font-weight: bold;
  font-size: 1.563rem;
  color: #d62828;
}

h4 {
  font-family: "Open Sans", serif;
  font-weight: bold;
  font-size: 1.25rem;
  color: black;
}

h5 {
  font-family: "Open Sans", serif;
  font-weight: bold;
  font-size: 1.25rem;
  color: #d62828;
}

a {
  font-family: "Open Sans", serif;
  font-weight: bolder;
  font-size: 1rem;
  text-decoration: none;
  color: white;
}

p {
  font-family: "Open Sans", serif;
  font-weight: 400;
  font-size: 0.938rem;
  color: black;
}

/* Menu */
header {
  background-color: #d62828;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  position: relative;
}

.logo {
  width: 20%;
  transform: scale(1);
  transition: scale 0.5s ease;
}

.logo:hover {
  scale: 1.06;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

nav {
  min-width: 50%;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 1.875rem;
  list-style-type: none;
}

.hover-effect {
  transform: scale(1);
  transition: scale 0.5s ease;
}

.hover-effect:hover {
  scale: 1.1;
}

.borda-branca a {
  padding: 10px 20px;
  border-radius: 30px;
  border: solid #fff 2px;
  background-color: #d62828;
  transition: all 0.5s ease;
}

.borda-branca a:hover {
  color: black;
  background-color: #fff;
}

.borda-amarela a {
  color: black;
  padding: 10px 20px;
  border-radius: 30px;
  border: solid #f5ce05 2px;
  background-color: #f5ce05;
  transition: all 0.5s ease;
}

.borda-amarela a:hover {
  border: solid #ffe459 2px;
  background-color: #ffe459;
}
/* Fim Menu*/

/* Banner*/
#banner {
  width: 100%;
}

#banner img {
  width: 100%;
  height: auto;
}
/* Fim Banner*/
